@font-face {
     font-family: "Roboto-Regular";
     src: url(Roboto/Roboto-Regular.ttf);
     font-weight: normal;
}

html {
     margin: 0px;
     height: 100%;
     width: 100%;
}

#grid {
     display: grid;
     min-height: 100%;
     height: 100%;
     width: 100%;
     padding: 0px;
     margin: 0px;
     background-image: url("img/bg-man-default-medium.jpg");
     background-size: cover;
     background-attachment: fixed;
     font-family: "Roboto-Regular";
     font-size: 12px;
     grid-template-columns: 20% 20% 20% 20% 20%;
     grid-template-rows: auto;
     grid-template-areas:
          ". . . . ."
          ". main main main ."
          ". projections projections projections ."
          ". results results results .";
}

.container {
     display: flex;
     flex-grow: initial;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     height: 100%;
     color: rgb(87, 85, 85);
     border-radius: 5px;
     border-spacing: 0;
     background: rgba(195, 196, 197, 0.8);
     padding: 0px;
     margin: 0px;
     grid-area: main;
}

#btn-print {
     grid-area: print;
}

#inputs-unique,
#inputs-monthly,
#inputs-rev-expen {
     margin: 5px;
     display: table;
     height: 100%;
     width: 100%;
     grid-area: main;
}

.btn-container {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     align-content: flex-start;
     justify-content: center;
     height: auto;
}

.titulo {
     font-size: 2.5em;
}
#fazendo-negocios {
     border-color: white;
}

th {
     width: auto;
     height: auto;
     margin: 0;
     text-align: left;
     font-weight: lighter;
     font-size: 15px;
}
th[rowspan] {
     vertical-align: middle;
}
td {
     width: auto;
     height: 100%;
     font-weight: lighter;
}

#info {
     text-align: center;
}
.description {
     text-align: left;
}

#despesas-unicas,
#despesas-mensais {
     text-align: center;
     color: rgb(87, 85, 85);
}
#comissao-renda {
     text-align: center;
}
#preco {
     width: 7%;
     text-align: center;
     font-weight: bold;
}

#total-unico,
#total-mes,
#total-24 {
     text-align: center;
     color: rgb(87, 85, 85);
     font-weight: lighter;
     width: 100px;
}

input {
     width: 100px;
     margin: 0;
     border: 0;
     border-bottom: 1px solid rgb(87, 85, 85);
     outline: 0;
     font-size: 20px;
     color: rgb(87, 85, 85);
     padding: 0;
     background: transparent;
     transition: border-color 0.2s;
     text-align: center;
}

::placeholder {
     color: rgb(87, 85, 85);
     opacity: 1;
}

#population {
     font-size: 150%;
}

#projections {
     justify-self: center;
     width: 90%;
     grid-area: projections;
     overflow: auto;
}
#final-results {
     grid-area: results;
     width: 100%;
}
#projections,
#final-results {
     position: sticky;
     display: table;
     margin-top: 3px;
     height: 100%;
     color: black;
     text-align: center;
     border-radius: 5px;
     border-collapse: collapse;
}
.month {
     text-align: center;
}

.progression {
     font-size: 10px;
     border: 1px solid;
     border-color: aliceblue;
     background-color: rgba(185, 218, 245, 0.8);
     color: black;
}
#title-prog {
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.color-month {
     background-color: rgba(56, 142, 60, 0.8);
     color: black;
}
.title {
     background-color: rgba(3, 169, 244, 0.8);
     border-bottom: 1px solid;
     border-color: aliceblue;
     color: black;
     text-align: center;
     font-size: 10px;
}
.titleTh {
     font-size: 10px;
     padding: 0.5%;
     text-align: center;
     background-color: rgba(118, 118, 118, 0.8);
     color: white;
     border-bottom: 1px solid;
     border-color: aliceblue;
}
.expenses_title {
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.button-30 {
     margin: 1%;
     align-items: center;
     appearance: none;
     background-color: #fcfcfd;
     border-radius: 4px;
     border-width: 0;
     box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
     box-sizing: border-box;
     color: #36395a;
     cursor: pointer;
     display: inline-flex;
     font-family: "Roboto-Regular";
     height: 30px;
     justify-content: center;
     line-height: 1;
     list-style: none;
     overflow: hidden;
     padding-left: 16px;
     padding-right: 16px;
     position: relative;
     text-align: left;
     text-decoration: none;
     transition: box-shadow 0.15s, transform 0.15s;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     white-space: nowrap;
     will-change: box-shadow, transform;
     font-size: 13px;
     margin-bottom: 0.5%;
}

.button-30:focus {
     box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
     box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
     transform: translateY(-2px);
}

.button-30:active {
     box-shadow: #d6d6e7 0 3px 7px inset;
     transform: translateY(2px);
}
.red {
     color: red;
}
.green {
     color: green;
}

@media (max-width: 1000px) {
     #grid {
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: auto;
        grid-template-areas:
             ". . . . ."
             "main main main main main"
   }

}

@media (max-width: 2000px) {
     #projections{
          width: 100%;
     }
}