@font-face {
    font-family: 'Roboto-Regular';
    src: url(Roboto/Roboto-Regular.ttf);
    font-weight: normal;
}

body{
    background-image: url("img/bg-man-default-medium.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    font-family: 'Roboto-Regular';
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-size: 12px;
}

#inputs{
    width: 95%;
    height: auto;
    color: white;
    border-radius: 5px;
    margin: 1% 0% 1% 0%;
    border-spacing: 0;
    background: rgba(118, 118, 118, 0.8);
}

.titulo{
    font-size: 20px;
}
#fazendo-negocios{
    border-bottom: 1px solid;
    border-color: white;
}

th{
    width: auto;
    margin: 0;
    text-align: left;
    font-weight: lighter;
    font-size: 13px;
}
th[rowspan]{
    vertical-align: middle;
}
td{
    width: auto;
    height: 35px;
    font-weight: lighter;

}
.bottom{
    border-bottom: 1px solid;
    color: white;
}
.bottom_right{
    border-bottom-right-radius: 5px;
    border-color: transparent;
}
.bottom_middle{
    border-color: transparent;
}

#info{
    text-align: center;
    border-bottom: 1px solid;
    border-color: white;
}
.description{
    text-align: left;


}
.total{
    padding-top: 2%;


}

#despesas-unicas, #despesas-mensais{
    padding-top: 2%;
    text-align: center;
    border-bottom: 1px solid;
    color: white;
}
#comissao-renda{
    padding-top: 2%;
    text-align: center;
    border-bottom: 1px solid;
    border-bottom-left-radius: 5px;
    color: transparent;
}
#preco{
    width: 7%;
    text-align: center;
    font-weight: bold;
}

#total-unico, #total-mes{
    text-align: center;
    color: yellow;
    font-weight: lighter;
    width: 100px;
}

input{
    width: 100px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid white;
    border-radius: 3px;
    outline: 0;
    font-size: 13px;
    color: white;
    padding: 0;
    background: transparent;
    transition: border-color 0.2s;
    text-align: center;
}

::placeholder{
    color: white;
    opacity: 1;
}

.res{
    text-align: center;
}

#projections, #final-results {
    width: 95%;
    color: black;
    text-align: center;
    border-radius: 5px;
    border-collapse: collapse;
}
.month{
    text-align: center;
}

.progression{
    border: 1px solid;
    border-color: aliceblue;
    background-color: rgba(185, 218, 245, 0.8);
    color: black;
}
#title-prog{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.color-month{
    background-color: rgba(56, 142, 60, 0.8);
    color: black;
}
.title {
    background-color: rgba(3, 169, 244, 0.8);
    border-bottom: 1px solid;
    border-color: aliceblue;
    color: black;
    text-align: center;
}
.titleTh{
    padding: 0.5%;
    text-align: center;
    background-color: rgba(118, 118, 118, 0.8);
    color: white;
    border-bottom: 1px solid;
    border-color: aliceblue;
}
.expenses_title{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#final-results{
    width: 50%;
}